/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Root */
:root {
    /* Typography */
    --font-family-body: "Montserrat", sans-serif;
    --font-size-body: 16px;
    --font-weight-light: 400;
    --font-weight-bold: 600;
    /* Colors */
    --bg-color: #ffffff;
    --text-color: #333333;
    --secondary-bg: #f6f6f6;
    --accent-color: #3498db;
    --button-color: #ffe8e8;
}

/* Box Sizing and Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: var(--font-family-body);
    font-size: var(--font-size-body);
    color: var(--text-color);
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}

ul[class],
ol[class] {
    list-style: none;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

/* Navigation */
header {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-bottom: 2rem;
}

nav {
    display: flex;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li a {
    text-decoration: none;
    margin-left: 1rem;
    color: var(--text-color);
}

a {
    color: black;
}

/* Hamburger Menu */
.hamburger-menu {
    display: none;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: var(--text-color);
    margin: 5px 0;
    transition: 0.4s;
}

.modal {
    display: none;
    position: fixed;
    text-align: center;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    z-index: 999;
}

.modal ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.modal li {
    margin: 20px 0;
}

.modal a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 24px;
}

.toggle-switch {
    position: absolute;
    top: 20px;
    right: 20px;
    display: inline-block;
    width: 60px;
    height: 34px;
}

#hero, #work, #projects, #about {
    padding: 1rem;
}

h1 {
    margin-bottom: 1.5rem;
}

.socials {
    display: flex;
    flex-direction: row;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.socials li {
    margin-right: 1rem;
}

.socials li a {
    text-decoration: none;
    font-weight: var(--font-weight-bold);
}

.background-color {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 250px;
    height: 500px;
    background-color: var(--secondary-bg);
    z-index: -1;
}

button {
    background-color: #ffe8e8;
    width: 200px;
    height: 50px;
    letter-spacing: 2px;
    border-style: none;
}

button a {
    margin: 1rem;
    text-decoration: none;
}

h2 {
    margin-bottom: 1rem;
}

.date {
    margin-bottom: 1rem;
}

.skills {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.skills li {
    display: flex;
    flex-direction: row;
    padding-right: 1rem;
    padding-left: 1rem;
    background-color: var(--secondary-bg);
    margin: 0.3rem;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

/* Responsive Design */
@media (max-width: 768px) {
    .hamburger-menu {
        display: block;
    }

    nav {
        display: none;
    }
}

/* Animation for Hamburger to X */
.hamburger-menu.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger-menu.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}